// Файл обнуляющих стилей
@import "nullstyle.scss";

// Переменные 
$font-family: 'Rubik', sans-serif;

.bold {
    font-weight: 700;
}
.grey {
    color: #737375;
    font-weight: 400;
}
.btn {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: #F53838;
    box-shadow: 1px 10px 30px 5px rgba(245,56,56,0.35);

    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}
.btn:hover {
    transition: 0.5s;
    box-shadow: 1px 24px 55px 10px rgba(245,56,56,0.35);
}
.line {
    height: 125.57px;
    border: 2px solid #EEEFF2;
}
.title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    text-align: center;
}
.subtitle {
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-align: center;
}
.container {
    max-width: 1155px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Header */
.header {
    &-wrapper {
        margin-top: 46px;
        margin-bottom: 106px;
    }
    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 88px;
    }
    &__logo {
        display: flex;
        align-items: center;
        &-name {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #0B132A;

            margin-left: 10px;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        width: 40%;
        &-link {
            font-size: 16px;
            line-height: 19px;
            color: #4F5665;
            margin-right: 20px;
            border-bottom: 2px solid #fff;

            transition: 0.3s;
        }
        &-link:hover {
            border-bottom: 2px solid #F53855;
        }
    }
    &__user {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        &-signin {
            color: #0B132A;
            margin-right: 30px;
        }
        &-signup {
            color: #F53855;

            padding: 13px 45px;
            border: 1px solid #F53855;
            border-radius: 50px;

            transition: 0.5s;
        }
        &-signup:hover {
            color: #fff;

            background: #F53855;
        }
    }
    &-offer {
        display: flex;
        justify-content: space-between;
        &__column img {
            margin-right: -40px;
        }
    }
    &__title {
        max-width: 550px;
        margin-bottom: 20px;

        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        color: #0B132A;

        transform: translate(0,120%);
        opacity: 0;
        transition: 0.8s;
        &._active {
            transform: translate(0,0);
            opacity: 1;
        }
    }
    &__subtitle {
        max-width: 550px;
        margin-bottom: 50px;

        font-size: 16px;
        line-height: 30px;
        color: #4F5665;

        transform: translate(0,120%);
        opacity: 0;
        transition: all 0.8s ease 1s;
        &._active {
            transform: translate(0,0);
            opacity: 1;
            transition: all 0.8s ease 0.4s;
        }
    }
}
/*-------*/

// Модальное окно - регистрация
#window-reg {
    max-width: 320px;
    max-height: 370px;
    padding: 20px;
    position: fixed;
    top: 20%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 1px rgba(52, 27, 27, 0.35);
    border-radius: 20px;
    position: fixed;
    z-index: 9999;
    visibility: hidden;
}

// Модальное окно - вход
#window-auth {
    max-width: 320px;
    max-height: 300px;
    padding: 20px;
    position: fixed;
    top: 20%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 1px rgba(52, 27, 27, 0.35);
    border-radius: 20px;
    position: fixed;
    z-index: 9999;
    visibility: hidden;
}
.window-auth__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img {
        cursor: pointer;
    }
}
.window-auth__title {
    font-size: 24px;
    font-weight: 700;
}
.window-auth__form {
    margin-top: 30px;
    & input {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 15px;
        border: 1px solid #000;
    }
    & button {
        width: 100%;
        height: 50px;
        margin-top: 15px;
        box-shadow: 1px 10px 20px 2px rgba(245,56,56,0.35);
    }
}

// Модальное окно - email
#window-email {
    max-width: 520px;
    max-height: 90px;
    padding: 20px;
    position: fixed;
    top: 20%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 1px rgba(52, 27, 27, 0.35);
    border-radius: 20px;
    position: fixed;
    z-index: 9999;
    visibility: hidden;
}
.window-email__form {
    display: flex;
    & input {
        width: 320px;
        padding: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid #000;
        border-right: none;
    }
    & button {
        width: 130px;
        height: 50px;
        border-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: none;
    }
}
/* Section Info */ 
.info {
&-wrapper {
    margin-bottom: 127px;
}
&-block {
    display: flex;
    justify-content: space-between;
    padding: 37px 91px;
    margin-bottom: 96px;

    box-shadow: 0px 24px 63px -28px rgba(13,16,37,0.41);
    background: #FFFFFF;
    border-radius: 10px;
    &__row {
        display: flex;
        align-items: center;
    }
    &__icon {
        width: 55px;
        height: 55px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-right: 36px;

        background: #FFECEC;
        border-radius: 70px;
    }
    &__count {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #0B132A;

        margin-bottom: 8px;
    }
    &__name {
        font-size: 20px;
        line-height: 30px;
        color: #4F5665;
    }
}
&-offer {
    display: flex;
    justify-content: space-between;
    &__img {
        width: 100%;
    }
    &__column {
        margin-top: 40px;
    }
}
&__title {
    width: 383px;
    text-align: left;
}
&__subtitle {
    max-width: 430px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
}
&__list {
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    &-check {
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        transform: translate(0,120%);
        opacity: 0;
        transition: all 0.8s ease 1s;
        &._active {
            transform: translate(0,0);
            opacity: 1;
            transition: all 0.8s ease 0.4s;
        }
    }
    &-check p {
        margin-left: 12px;
    }
}
}
/*-------------*/

/* Section Plans */ 
.plans {
    padding-top: 80px;
    padding-bottom: 170px;
    background: #F6F6F6;
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        margin: 0 auto;
        width: 550px;
    }
    &-wrapper {
        margin-top: 60px;

        display: flex;
        justify-content: space-between;
    }
    &-block {
        width: 330px;
        min-height: 760px;
        padding-top: 79px;
        padding-bottom: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: #FFFFFF;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        &__flex1 {
            display: flex;
            justify-content: center;
        }
    }
    &-block:nth-child(3) {
        margin-right: 0;
    }
    &-block:hover {
        border: 2px solid #F53838;
        transition: 0.6s;
        cursor: pointer;
    }
    &-block:hover .plans-btn {
        background: #F53838;
        box-shadow: 1px 24px 55px 10px rgba(245,56,56,0.15);
        color: #fff;
        transition: 0.6s;
    }
    &__name {
        margin-top: 30px;
        margin-bottom: 30px;

        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #0B132A;
    }
    &__list {
        text-align: center;
        margin-bottom: 50px;

        font-size: 14px;
        line-height: 30px;
        color: #4F5665;
        &-check {
            display: flex;
            align-items: center;
            text-align: left;

            margin-bottom: 10px;
        }
        &-check p {
            width: 150px;
            margin-left: 26px;
        }
    }
    &__date {
        margin-bottom: 30px;

        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #0B132A;
    }
    &-btn {
        border: 2px solid #F53838;
        border-radius: 50px;
        padding: 13px 63px;

        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #F53838;
    }
}
/*--------------*/

/* Section Network */ 
.network {
    &__title {
        width: 385px;
        margin-top: -70px;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }
    &__subtitle {
        width: 555px;
        margin: 0 auto;
    }
    &-wrapper {
        margin-top: 155px;
        margin-bottom: 60px;
    }
    &__map {
        text-align: center;
        margin-bottom: 40px;
        & svg {
            width: 100%;
        }
        & svg circle {
            cursor: pointer;
        }
        & svg g circle {
            fill: black;
            animation: blinking 3s infinite;
        }
        @keyframes blinking {
            0% {
                fill: white;
                stroke: white;
            }
            25% {
                fill: white;
                stroke: #F53838;
            }
            50% {
                fill: white;
                stroke: white;
            }
            75% {
                fill: white;
                stroke: #F53838;
            }
            100% {
                fill: white;
                stroke: white;
            }
        }
    }
    &__company {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
#tooltip {
    padding: 5px;
    font-size: 18px;
    background: #fff;
    border-radius: 8px;
    color: #4F5665;
}
/*----------------*/

/* Section Review */ 
.review {
    &__title {
        width: 448px;
        margin: 0 auto;
    }
    &__subtitle {
        width: 555px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    &-wrapper {
        min-width: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 87px;
    }
    &-block {
        padding: 25px;
        width: 400px;
        margin-left: 20px;

        background: #FFFFFF;
        border: 2px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 10px;
        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        & p {
            margin-top: 20px;
            font-size: 16px;
            line-height: 30px;
            color: #0B132A;
        }
    }
    &-block:nth-child(1) {
        margin-left: 0;
    }
    &__img {
        margin-right: 20px;
    }
    &__img1 {
        margin-left: 11px;
        margin-top: -4px;
    }
    &__name {
        font-weight: 500;
        font-size: 18px;
        color: #0B132A;
    }
    &__location {
        margin-top: 5px;
        font-size: 14px;
        color: #4F5665;
    }
    &__rating {
        font-size: 16px;
        line-height: 30px;
        color: #0B132A;
    }
    &-slider {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 88px;
        &__row {
            display: flex;
            align-items: center;
        }
        &__row1 {
            display: flex;
            align-items: center;
        }
    }
    &-promo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 58px 70px;
        margin-bottom: -140px;
        position: relative;
        z-index: 4;

        box-shadow: 0px -5px 52px -28px rgba(13,16,37,0.41);
        background: #FFFFFF;
        border-radius: 10px;
    }
}
/* Слайдер */
.slick-track {
    display: flex;
    justify-content: space-between;
}
.slick-list {
    overflow: hidden;
}
.review-slider__row1 .slick-arrow {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    background: none;
    border-radius: 50%;
    border: 2px solid #F53838;
    font-size: 0;
    z-index: 10;
    transition: 0.4s;
}
.review-slider__row1 .slick-arrow.slick-prev {
    background: url('../img/arrow1.svg') no-repeat 50% center;
}
.review-slider__row1 .slick-arrow.slick-next {
    background: url('../img/arrow2.svg') no-repeat 50% center;
}
.review-slider__row1 .slick-arrow:hover {
    border: 2px solid #d44e4e;
}
.review-slider__row .slick-dots {
    display: flex;
}
.review-slider__row .slick-dots button {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background: #DDE0E4;
    border-radius: 50%;
    font-size: 0;
}
.review-slider__row .slick-dots li.slick-active button {
    width: 40px;
    height: 15px;
    border-radius: 10px;
    background: #F53838;
}
.review-block {
   transition: 0.7s;
}
.review-block.slick-center {
    border: 2px solid #F53838;
}

// Модальное окно - почта


/*---------------*/

/* Section Footer */ 
.footer {
    background: #F8F8F8;
    &-wrapper {
        padding-top: 190px;
        padding-bottom: 100px;

        display: flex;
        justify-content: space-between;
        &__row {
            display: flex;
        }
    }
    &__subtitle {
        margin-top: 20px;
        margin-bottom: 30px;

        width: 340px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #4F5665;
    }
    &__social img {
        margin-left: -18px;
        cursor: pointer;

        transition: 0.3s;
    }
    &__social img:hover {
        transform: translate(0,-10%);
    }
    &__copyright {
        font-size: 16px;
        line-height: 30px;
        color: #AFB5C0;
    }
    &__menu {
        margin-left: 126px;
        &-head {
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #0B132A;

            margin-bottom: 20px;
        }
        &-link {
            font-size: 16px;
            line-height: 40px;
            color: #4F5665; 
        }
    }
}
/*---------------*/

// Файл медиа запросы
@import "media.scss";
